@media (max-width: 1615px) {
    #item3,#item4{
        grid-row: 5/10;
        grid-column: span 3;
        padding: 2em 3em;
    }
    .relative{
        height: 16%;
        width: 100%;
    }
    .profile{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    
    }
    .img-container > img {
        top: 0;
        left: 0;
        border: 2px solid rgba(255, 255, 255);
        width: 56px;
        border-radius: 50%;
    }
    .text-content{
        margin-bottom: 6px;
        margin-left: 8px;
    }

    .content{
        margin-top: 10px;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content:center;
        transition: transform 0.4s ease;
    }
    .content > div{
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 4px;
        margin-right:4px;
        transition: filter 0.3s ease;
    }
    .content > div > img{
        width:180px;
    }
}
@media (max-width: 1250px){
    #item3,#item4{
        grid-row: 5/10;
        grid-column: span 3;
        padding: 2em 3em;
    }
    .relative{
        height: 16%;
        width: 100%;
    }
    .profile{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    
    }
    .img-container > img {
        top: 0;
        left: 0;
        border: 2px solid rgba(255, 255, 255);
        width: 56px;
        border-radius: 50%;
    }
    .text-content{
        margin-bottom: 6px;
        margin-left: 8px;
    }
    .content{
        margin-top: 10px;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content:center;
        transition: transform 0.4s ease;
    }
    .content > div{
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 4px;
        margin-right:4px;
        transition: filter 0.3s ease;
    }
}
@media (max-width: 1110px){
    #item3,#item4{
        grid-row: 5/10;
        grid-column: span 3;
        padding: 2em 1em;
    }
    .relative{
        height: 16%;
        width: 100%;
    }
    .profile{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .img-container > img {
        top: 0;
        left: 0;
        border: 2px solid rgba(255, 255, 255);
        width: 46px;
        border-radius: 50%;
    }
    .text-content{
        margin-bottom: 8px;
        margin-left: 8px;
    }
    .text-content > h2{
        font-size: 22px;
    }
    .text-content > p{
        font-size: 14px;
    }
    .content{
        margin-top: 10px;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content:center;
        transition: transform 0.4s ease;
    }
    .content > div{
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 2px;
        margin-right:2px;
        transition: filter 0.3s ease;
    }
    .content > div > img{
        width:164px;
    }
}
@media (max-width: 775px){
    #item3,#item4{
        grid-row: 5/10;
        grid-column: span 3;
        padding: 1em 3em;
    }
    .relative{
        height: 16%;
        width: 100%;
    }
    .profile{
        width: 72%;
        height: 130%;
        display: flex;
        align-items: center;
    
    }
    .img-container > img {
        top: 0;
        left: 0;
        border: 2px solid rgba(255, 255, 255);
        width: 56px;
        border-radius: 50%;
    }
    .text-content{
        margin-bottom: 6px;
        margin-left: 8px;
    }
    .content{
        margin-top: 20px;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content:center;
        transition: transform 0.4s ease;
    }
    .content > div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4px;
        margin-right:4px;
        transition: filter 0.3s ease;
    }
    .content > div > img{
        width:180px;
    }
}
@media (max-width: 614px){
    #item3,#item4{
        grid-row: 5/10;
        grid-column: span 3;
        padding: 1em 1em;
    }
    .relative{
        height: 16%;
        width: 100%;
        margin-bottom: 20px;
    }
    .profile{
        width: 72%;
        height: 120%;
        display: flex;
        align-items: center;
    }
    .img-container > img {
        top: 0;
        left: 0;
        border: 2px solid rgba(255, 255, 255);
        width: 50px;
        border-radius: 50%;
    }
    .text-content{
        margin-bottom: 10px;
        margin-left: 8px;
    }
    .content{
        margin-top: 4px;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content:center;
        transition: transform 0.4s ease;
       
    }
    .content > div{
        width: 33%;
        display: flex;
        align-items: center;
        margin-left: 4px;
        margin-right:4px;
        transition: filter 0.3s ease;
    }
    .content > div > img{
        width:150px;
    }
}
@media (max-width: 488px){
    #item3,#item4{
        grid-row: 5/10;
        grid-column: span 3;
        padding: 1em 1em;
    }
    .relative{
        height: 16%;
        width: 100%;
        margin-bottom: 20px;
    }
    .profile{
        width: 72%;
        height: 120%;
        display: flex;
        align-items: center;
    }
    .img-container > img {
        top: 0;
        left: 0;
        border: 2px solid rgba(255, 255, 255);
        width: 50px;
        border-radius: 50%;
    }
    .text-content{
        margin-bottom: 10px;
        margin-left: 8px;
    }
    .content{
        margin-top: 4px;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content:center;
        transition: transform 0.4s ease;
       
    }
    .content > div{
        width: 33%;
        display: flex;
        align-items: center;
        margin-left: 4px;
        margin-right:4px;
        transition: filter 0.3s ease;
    }
    .content > div > img{
        width:120px;
    }
}
@media (max-width: 416px){
    #item3,#item4{
        grid-row: 5/10;
        grid-column: span 3;
        padding: 1em 1em;
    }
    .relative{
        height: 16%;
        width: 100%;
        margin-bottom: 20px;
    }
    .profile{
        width: 72%;
        height: 120%;
        display: flex;
        align-items: center;
    }
    .img-container > img {
        top: 0;
        left: 0;
        border: 2px solid rgba(255, 255, 255);
        width: 40px;
        border-radius: 50%;
    }
    .text-content{
        margin-bottom: 4px;
        margin-left: 8px;
    }
    .text-content > h2{
        font-size: 18px;
    }
    .text-content > p{
        font-size: 12px;
    }
    .content{
        margin-top: 4px;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content:center;
        transition: transform 0.4s ease;
       
    }
    .content > div{
        width: 36%;
        display: flex;
        align-items: center;
        margin-left: 4px;
        margin-right:4px;
        transition: filter 0.3s ease;
    }
    .content > div > img{
        width:116px;
    }
}
@media (max-width: 376px){
    #item3,#item4{
        grid-row: 5/10;
        grid-column: span 3;
        padding: 1em 1em;
    }
    .relative{
        height: 16%;
        width: 100%;
        margin-bottom: 20px;
    }
    .profile{
        width: 72%;
        height: 120%;
        display: flex;
        align-items: center;
    }
    .img-container > img {
        top: 0;
        left: 0;
        border: 2px solid rgba(255, 255, 255);
        width: 40px;
        border-radius: 50%;
    }
    .text-content{
        margin-bottom: 4px;
        margin-left: 8px;
    }
    .text-content > h2{
        font-size: 18px;
    }
    .text-content > p{
        font-size: 12px;
    }
    .content{
        margin-top: 4px;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content:center;
        transition: transform 0.4s ease;
       
    }
    .content > div{
        width: 33%;
        display: flex;
        align-items: center;
        margin-left: 4px;
        margin-right:4px;
        transition: filter 0.3s ease;
    }
    .content > div > img{
        width:90px;
    }
}

